doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Node n Multer.
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amiri|Passion+One")
    link(rel='stylesheet', href='./css/main.css')
    
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
  body
    div.container
      header
          h1 Node / Multer.
          p File uploader using Node / Multer and pug.
    
      block content


    script(src="./scripts/jquery-3.3.1.min.js")
    script(src="./scripts/functions.js")
   
